# Tipos de Dados

In [1]:
print(type('Hello World'))
print(type(10))
print(type(1.0))
print(type(True))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [2]:
a = 10
b = 'PLN'
c = 10 > 2
d = 1.0

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [3]:
print(a)
a = 'Python'
print(a)
print(type(a))

10
Python
<class 'str'>

In [4]:
numero = 1
texto = '1'
print(str(numero)+texto)

11

In [5]:
numero = 11
if numero < 10:
  print("numero é menor que 10")
  print("10 unidades")
  print('Testando o IF')
else:
  print("numero é maior que 10")

numero é maior que 10

# Listas e Tuplas

In [6]:
lista = [1,2,3]
tupla = (1,2,3)
print(type(lista))
print(type(tupla))

<class 'list'>
<class 'tuple'>

In [7]:
print(lista)
print(tupla)
print(lista[0])
print(tupla[0])

[1, 2, 3]
(1, 2, 3)
1
1

In [8]:
lista[0] = 'PLN'
print(lista)
# tupla[0] = 4
# print(tupla)

['PLN', 2, 3]

In [9]:
print(lista)
# print(list(range(1,9,2)))
lista.append(5)
print(lista)

['PLN', 2, 3]
['PLN', 2, 3, 5]

In [10]:
lista.insert(0,6)
print(lista)

[6, 'PLN', 2, 3, 5]

In [11]:
lista.reverse()
print(lista)

[5, 3, 2, 'PLN', 6]

In [12]:
lista[3] = 7
lista.sort()
print(lista)

[2, 3, 5, 6, 7]

In [13]:
add = list(range(5))
print(add)
lista.extend(add)
print(lista)

[0, 1, 2, 3, 4]
[2, 3, 5, 6, 7, 0, 1, 2, 3, 4]

In [14]:
lista.remove(2)
print(lista)

[3, 5, 6, 7, 0, 1, 2, 3, 4]

In [15]:
print(lista.index(3))

0

In [16]:
print(lista.count(3))

2

## Slicing

In [17]:
lista = list(range(10))
print(lista)
print(lista[0:5])
print(lista[:4])
print(lista[3:])
print(lista[-3:])
print(lista[-1])
print(lista[:-3])
print(lista[::-1])
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[3, 4, 5, 6, 7, 8, 9]
[7, 8, 9]
9
[0, 1, 2, 3, 4, 5, 6]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]