# Resolução dos Exercícios - Lista I

### 1. Crie três variáveis e atribua os valores a seguir: a=1, b=5.9 e c=‘teste’. A partir disso, retorne o tipo de cada uma das variáveis.

In [134]:
# Criando as variáveis
a=1
b=5
c='teste'

# Retornando o tipo de cada variável
print("Tipos das variáveis:\n>> Variável 'a' é do tipo {typea}."
                            "\n>> Variável 'b' é do tipo {typeb}."
                            "\n>> Variável 'c' é do tipo {typec}".format(typea=type(a), 
                                                                         typeb=type(b), 
                                                                         typec=type(c)))

Tipos das variáveis:
>> Variável 'a' é do tipo <class 'int'>.
>> Variável 'b' é do tipo <class 'int'>.
>> Variável 'c' é do tipo <class 'str'>

### 2. Troque o valor da variável a por ‘1’ e verifique se o tipo da variável mudou.

In [135]:
# Alterando a variável
a='1'

# Retornando o novo tipo da variável
print("O tipo da variável 'a' mudou para ", type(a))

O tipo da variável 'a' mudou para  <class 'str'>

### 3. Faça a soma da variável b com a variável c. Interprete a saída, tanto em caso de execução correta quanto em caso de execução com erro.

In [136]:
print(b+c)

# Não podemos realizar operações aritméticas entre variáveis com tipos diferentes.
# Para isso ambas as variáveis precisam ser do mesmo tipo ou retorna erro.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### 4. Crie uma lista com números de 0 a 9 (em qualquer ordem) e faça:
* a) Adicione o número 6
* b) Insira o número 7 na 3ª posição da lista
* c) Remova o elemento 3 da lista
* d) Adicione o número 4
* e) Verifique o número de ocorrências do número 4 na lista

In [15]:
# Criando a lista
l1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
# a) Adicione o número 6
l1.append(6)
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 6]

In [17]:
# b) Insira o número 7 na 3ª posição da lista
l1.insert(2,7)
l1

[0, 1, 7, 2, 3, 4, 5, 6, 7, 8, 9, 6]

In [18]:
# c) Remova o elemento 3 da lista
l1.remove(3)
l1

[0, 1, 7, 2, 4, 5, 6, 7, 8, 9, 6]

In [19]:
# d) Adicione o número 4
l1.append(4)
l1

[0, 1, 7, 2, 4, 5, 6, 7, 8, 9, 6, 4]

In [21]:
# e) Verifique o número de ocorrências do número 4 na lista
print(l1.count(4))

2

### 5. Ainda com a lista criada na questão anterior, faça:
* a) Retorne os primeiros 3 elementos da lista
* b) Retorne os elementos que estão da 3ª posição até a 7ª posição da lista
* c) Retorne os elementos da lista de 3 em 3 elementos
* d) Retorne os 3 últimos elementos da lista
* e) Retorne todos os elementos menos os 4 últimos da lista

In [84]:
# a) Retorne os primeiros 3 elementos da lista
print('Lista:', l1)
print('\n3 primeiros elementos da lista:', l1[:3])

Lista: [0, 1, 7, 2, 4, 5, 6, 7, 8, 9, 6, 4]

3 primeiros elementos da lista: [0, 1, 7]

In [83]:
# b) Retorne os elementos que estão da 3ª posição até a 7ª posição da lista
print('Lista:', l1)
print('\nElementos da 3ª a 7ª posição da lista:', l1[2:7])

Lista: [0, 1, 7, 2, 4, 5, 6, 7, 8, 9, 6, 4]

Elementos da 3ª a 7ª posição da lista: [7, 2, 4, 5, 6]

In [77]:
# c) Retorne os elementos da lista de 3 em 3 elementos
print('Posições de 1 a 3: ', l1[:3])
print('Posições de 4 a 6: ', l1[3:6])
print('Posições de 7 a 9: ', l1[6:9])
print('Posições de 10 a 12: ', l1[9:12])

Posições de 1 a 3:  [0, 1, 7]
Posições de 4 a 6:  [2, 4, 5]
Posições de 7 a 9:  [6, 7, 8]
Posições de 10 a 12:  [9, 6, 4]

In [82]:
# d) Retorne os 3 últimos elementos da lista
print('Lista:', l1)
print('\n3 últimos elementos da lista:', l1[-3:])

Lista: [0, 1, 7, 2, 4, 5, 6, 7, 8, 9, 6, 4]

3 últimos elementos da lista: [9, 6, 4]

In [85]:
# e) Retorne todos os elementos menos os 4 últimos da lista
print('Lista:', l1)
print('\nTodos os elementos menos os 4 últimos da lista:', l1[:-4])

Lista: [0, 1, 7, 2, 4, 5, 6, 7, 8, 9, 6, 4]

Todos os elementos menos os 4 últimos da lista: [0, 1, 7, 2, 4, 5, 6, 7]

### 6. Com a lista das questões anteriores, retorne o 6º elemento da lista.

In [137]:
print('Lista:', l1)
print('\n6ª posição da lista:', l1[6])

Lista: [0, 1, 2, 4, 4, 5, 6, 7, 9, 12]

6ª posição da lista: 7

### 7. Altere o valor do 7º elemento da lista para o valor 12.

In [115]:
print('Lista:', l1)

Lista: [0, 1, 7, 2, 4, 5, 6, 9, 6, 4]

In [116]:
l1[6] = 12
print('\nLista com a alteração:', l1)

Lista com a alteração: [0, 1, 7, 2, 4, 5, 12, 9, 6, 4]

### 8. Inverta a ordem dos elementos na lista.

In [121]:
print('Lista:', l1)

Lista: [0, 1, 2, 4, 4, 5, 6, 7, 9, 12]

In [122]:
l1.reverse()
print('\nLista invertida:', l1)

Lista invertida: [12, 9, 7, 6, 5, 4, 4, 2, 1, 0]

### 9. Ordene a lista

In [123]:
print('Lista:', l1)

Lista: [12, 9, 7, 6, 5, 4, 4, 2, 1, 0]

In [124]:
l1.sort()
print('\nLista invertida:', l1)

Lista invertida: [0, 1, 2, 4, 4, 5, 6, 7, 9, 12]

### 10. Crie uma tupla com números de 0 a 9 (em qualquer ordem) e tente:
* a) Alterar o valor do 3º elemento da tupla para o valor 10
* b) Verificar o índice (posição) do valor 5 na tupla

In [127]:
# Criando a tupla
t1 = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
t1

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [128]:
# a) Alterar o valor do 3º elemento da tupla para o valor 10
t1[3] = 10
t1

# Tuplas não são alteráveis, somente as listas são.

TypeError: 'tuple' object does not support item assignment

In [133]:
# b) Verificar o índice (posição) do valor 5 na tupla
print('Tupla: ', t1)
print('\nIndex do número 5 é:', t1.index(5))

Tupla:  (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

Index do número 5 é: 5